H2{
    background-color: pink;
    height: 50px;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;
    display: inline;

  
}

h2:hover{
    border: 500px;
    border-radius: 20px;
}
li{
    background-color: rgb(231, 231, 84);
    opacity: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    height: 20px;
    width: 550px;
 
  
}

li:hover{
    background-color: rgb(166, 213, 135);
    font-family: sans-serif;
    border: 500px;
    border-radius: 20px;
    
    
    
}
h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    height: 40%;
    width: 200px;
  text-align: center;
   
}
h1:hover{
   background-color: pink;
   font-family: monospace;
   height: 40%;
    width: 200px;
    border: 500px;
    border-radius: 20px;
}
h3{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    height: 50%;
    width: 600px;
 

}
h3:hover{
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 40%;
     width: 600px;
     border: 500px;
     border-radius: 10px;

}
#bipinpal{
    background-color: red;
    border: 400px;
}

p{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(188, 217, 122);
    height: 40%;
    width: 200px;
  text-align: center;

}